.about {
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 30%;
        padding: 10px;
        &--image {
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        }
        &--title {
            font-family: $decorativeFont;
            padding: 10px;
            text-align: center;
        }
    }
    &__content {
        width: 70%;
    }
}