.about {
    background-attachment: fixed;
    background-image: url('./../img/background/about.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10%;
    padding-bottom: 5%;
    margin: 0 auto;

    &[data-theme='Lambda'] {
        transition-duration: .4s;
        background-blend-mode: color-dodge;
        background-color: transparent;
    }

    &[data-theme='Abyss'] {
        transition-duration: .4s;
        background-blend-mode: color-dodge;
        background-color: $blackColor;
    }

    .intro {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 5% 0;

        &__title {
            font-family: $titleFont;
            font-size: 350%;
            text-align: center;
            transform: rotate(-10deg);
        }

        .about__author {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .author__title {
                font-size: 200%;
                font-family: $titleFont;
                text-align: center;
                order: 2;
            }

            .author__svg {
                clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
                margin-bottom: 7vw;
                width: 60%;
                order: 1;
            }
        }
    }

    &__content {
        .content__info {
            font-size: 5vw;
            text-align: justify;
            line-height: 140%;

            h3 {
                margin-bottom: 10px;
                font-family: $supportFont;
                color: $secondaryColor;
                transition-duration: .4s;

                &[data-theme='Abyss'] {
                    color: $secondaryColorAbyss;
                }
            }

            article {
                display: block;
                margin-bottom: 4vw;
                transition-duration: .4s;
                color: $darkColor;

                &[data-theme='Abyss'] {
                    color: $blackColorAbyss;
                }
            }
        }
    }
}


@media (min-width: 600px) {
    .about {
        display: block;

        &__author {
            .author__svg {
                width: 60%;
            }

            .author__title {
                font-size: 6vw;
            }
        }

        &__content {

            .content__info {
                font-size: 3vw;
                text-align: justify;
                line-height: 140%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                flex-direction: column;

                article {
                    width: 70%;
                    margin: 4vh;
                    transition-duration: .4s;
                }

                article:nth-of-type(even) {
                    align-self: flex-end;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .about {
        display: block;

        &__author {
            .author__svg {
                width: 30%;
            }

            .author__title {
                font-size: 4vw;
            }
        }

    }
}

@media (min-width: 600px) and (orientation: landscape) {
    .about {
        .intro {
            .about__author {
                .author__svg {
                    width: 30%;
                }

                .author__title {
                    font-size: 2vw;
                }
            }
        }

    }
}

@media (min-width: 800px) and (orientation: landscape) {
    .about {
        .intro {
            flex-direction: row;

            &__title {
                font-size: 8vh;
                align-self: center;
            }

            .about__author {
                display: flex;

                .author__svg {
                    width: 50%;
                    margin-bottom: 0;
                }

                .author__title {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .about {
        .intro {
            flex-direction: row;

            &__title {
                font-size: 8vh;
            }

            .about__author {
                display: flex;

                .author__svg {
                    width: 50%;
                    margin-bottom: 0;
                }

                .author__title {
                    font-size: 2rem;
                }
            }
        }

        &__content {
            .content__info {
                font-size: 2.5rem;
            }
        }
    }
}