.header {
    position: relative;
    height: 100vh;
    background-color: $blackColor;
    background-image: url('./../img/background/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: 40% 70%;
    font-family: $nonLatinFont;
    overflow-x: hidden;

    &__title {
        position: absolute;
        top: 20vh;
        left: 5vw;
        right: 5vw;
        width: 90vw;
        margin: auto;
        font-size: 9vw;
        letter-spacing: .4rem;
        color: $primaryColor;

        span {
            display: block;
            text-align: center;
            margin-bottom: 1vh;
        }
    }


    &__author {
        position: absolute;
        bottom: 20vw;
        left: 10vw;
        right: 10vw;
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6vw;
        font-weight: bold;
        color: $primaryColor;
        letter-spacing: 1px;

        .active {
            opacity: 0;
        }
    }
}



@media (min-width: 600px) {
    .header {

        &__author {
            bottom: 10vw;
        }
    }
}

@media (min-width: 800px) {
    .header {
        // background-size: cover;

        &__title {
            font-size: 10vw;
            letter-spacing: .5vw;
        }

        &__author {
            font-size: 2vw;
            bottom: 3vw;
        }
    }
}

@media (min-width: 600px) and (orientation: landscape) {
    .header {
        &__title {
            font-size: 10vh;
            letter-spacing: .5vh;
        }

        &__author {
            bottom: 10vh;
            font-size: 4vh;
        }
    }
}

@media (min-width: 800px) and (orientation: landscape) {
    .header {
        background-size: cover;

        &__title {
            font-size: 5vh;
            letter-spacing: .5vh;
        }

        &__author {
            font-size: 3vh;
            bottom: 3vh;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &__title {
            margin-top: -5vh;
            font-family: $titleFont;
            font-size: 8rem;
            letter-spacing: 2rem;
            text-shadow: 1rem 1rem 1rem $blackColor,
                -1rem -1rem 1rem $blackColor,
                -1rem 1rem 1rem $blackColor,
                1rem -1rem 1rem $blackColor;
        }
    }
}