.header {
    position: relative;
    height: 100vh;
    background-color: $blackColor;
    background-image: url('./../img/background/header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: 40% 70%;
    font-family: $nonLatinFont;
    overflow-x: hidden;
    font-size: 200%;
    // border-bottom: 1px solid $primaryColor;
    box-shadow: 2px 0 20px 2px black;

    &__title {
        position: absolute;
        top: 20vh;
        left: 5vw;
        right: 5vw;
        width: 90vw;
        margin: auto;
        font-size: 250%;
        letter-spacing: .4rem;
        color: $primaryColor;

        span {
            display: block;
            text-align: center;
            margin-bottom: 1vh;
            transition-duration: .4s;

            &.animate-1 {
                opacity: 0;
                transform: translateY(-150px);
            }

            &.animate-2 {
                opacity: 0;
                transform: scale(0);
            }

            &.animate-3 {
                transform: scaleX(0) rotateX(1000deg);
                opacity: 0;
            }
        }
    }


    &__author {
        position: absolute;
        bottom: 2%;
        left: 10vw;
        right: 10vw;
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
        font-weight: bold;
        color: $primaryColor;
        letter-spacing: 1px;

        .active {
            opacity: 0;
        }
    }
}



@media (min-width: 600px) {
    .header {

        &__author {
            bottom: 10vw;
        }
    }
}

@media (min-width: 800px) {
    .header {
        // background-size: cover;

        &__title {
            font-size: 10vw;
            letter-spacing: .5vw;
        }

        &__author {
            font-size: 2vw;
            bottom: 3vw;
        }
    }
}

@media (min-width: 600px) {
    .header {
        &__title {
            font-size: 180%;
            letter-spacing: .5vh;
        }

        &__author {
            bottom: 10vh;
        }
    }
}

@media (min-width: 800px) {
    .header {
        background-size: cover;

        &__title {
            font-size: 250%;
            letter-spacing: .5vh;
        }

        &__author {
            font-size: 150%;
            bottom: 3vh;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &__title {
            text-align: center;
            margin-top: -5vh;
            font-family: $titleFont;
            font-size: 250%;
            letter-spacing: 2rem;
            text-shadow: 1rem 1rem 1rem $blackColor,
                -1rem -1rem 1rem $blackColor,
                -1rem 1rem 1rem $blackColor,
                1rem -1rem 1rem $blackColor;
        }
    }
}