.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px 7vh 5vh -8vh $primaryColor;
    z-index: 10;
    font-size: 150%;
    padding: 2%;
    font-family: $supportFont;
    max-height: 20%;
    transition-duration: .4s;

    &[data-theme='Abyss'] {
        box-shadow: inset 0px 7vh 5vh -8vh $primaryColorAbyss;
    }

    .progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $primaryColor;
        transform: scale(0);
        z-index: 10;

        &::-moz-progress-bar {
            background-color: $primaryColor;
            border-radius: 20px;
        }

        &::-webkit-progress-value {
            background-color: $primaryColor;
            border-radius: 20px;
        }

        &[data-theme="Abyss"]::-webkit-progress-value {
            background-color: $primaryColorAbyss;
        }
    }



    .fa-cog,
    .fa-times,
    .fa-bars {
        position: relative;
        margin: 4vw;
        z-index: 2;
        font-size: 150%;
        color: $primaryColor;
        transition-duration: .4s;

        &[data-theme='Abyss'] {
            color: $primaryColorAbyss;
        }
    }

    .menu {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        font-size: 200%;
        font-family: $primaryFont;
        transform: scale(0);
        padding: 1vw;
        transition-duration: .4s;
        background-color: #000;
        opacity: .8;

        h2 {
            color: $primaryColor;
            font-size: 100%;
        }

        .option {
            color: $primaryColor;
            transition-duration: .4s;
            width: 80%;
            text-align: center;
            font-size: 40%;
            margin: 10% 0;
            border-bottom: 2px solid $primaryColor;
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                color: $primaryColorAbyss;
                border-color: $primaryColorAbyss;

                &.active,
                &:hover {
                    color: $blackColorAbyss;
                    text-shadow: 1px 1px 0 $primaryColorAbyss,
                        -1px 1px 0 $primaryColorAbyss,
                        -1px -1px 0 $primaryColorAbyss;
                }
            }

            &.active {
                color: $blackColor;
                text-shadow: 1px 1px 0 $primaryColor,
                    -1px 1px 0 $primaryColor,
                    -1px -1px 0 $primaryColor;
                transform: scale(1.5);
            }

            &:hover {
                cursor: pointer;
                color: $blackColor;
                text-shadow: 1px 1px 0 $primaryColor,
                    -1px 1px 0 $primaryColor,
                    -1px -1px 0 $primaryColor;
                transform: scale(1.5);
            }
        }
    }

    .caricature {
        width: 50px;
        height: 50px;
        transition-duration: .4s;
        z-index: 10;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .settings-wrapper {
        position: relative;
        z-index: 20;

        .fa-cog {
            transition-duration: .4s;

            &:hover {
                cursor: pointer;
                color: $secondaryColor;
                transform: scale(1.5);
            }

            &[data-theme='Abyss'] {
                &:hover {
                    color: $secondaryColorAbyss;
                }
            }
        }


    }

    .settings {
        position: absolute;
        transform: scale(0);
        align-items: center;
        flex-direction: column;
        top: 50%;
        left: 50%;
        background-color: darken($darkColor, 3%);
        border-radius: 4px;
        opacity: .9;
        padding: 20%;
        width: 400%;
        transition-duration: .4s;

        &[data-theme='Abyss'] {
            background-color: darken($darkColorAbyss, 3%);
        }

        &__btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2vh;
            z-index: 100000;

            span {
                display: block;
                width: 40%;
                font-size: 2vh;
                color: $primaryColor;
                text-align: center;
                transition-duration: .4s;

                &[data-theme='Abyss'] {
                    color: $primaryColorAbyss;
                }
            }

            .fa {
                display: block;
                width: 20%;
                font-size: 4vh;
                color: $primaryColor;
                margin: 5%;
                transition-duration: .4s;

                &[data-theme='Abyss'] {
                    color: $primaryColorAbyss;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        h4 {
            margin: 2vh;
            color: $primaryColor;
            text-align: center;
            font-size: 3vh;
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                color: $primaryColorAbyss;
            }
        }

        &.visible {
            transform: scale(1);
        }
    }
}

@media (orientation: landscape) {
    .nav {
        .caricature {
            padding: 5px;
        }

        .settings {
            width: 200%;
        }
    }
}

@media (min-width: 800px) {
    .nav {
        .fa-bars {
            display: none;
        }

        .settings {
            width: 320%;
        }

        .menu {
            position: static;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-left: -10%;

            .option {
                font-size: 55%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .nav {
        height: 10%;

        .caricature {
            padding: 0;
        }

        .settings {
            width: 200%;
        }

        .fa-cog {
            display: block;
            position: static;
            font-size: 3vw;
        }

        .menu {
            width: 70%;
            font-size: 4vw;
            display: flex;
            flex-direction: row;
            background-color: transparent;
            font-family: $supportFont;
            transform: scale(1) !important;
            margin-left: 30%;
            padding: 1vw;
            font-size: 2vw;

            h2 {
                display: none;
            }

            .option {
                color: $primaryColor;
                transition-duration: .4s;
                font-size: 80%;
                border-bottom: none;
            }
        }
    }
}

.rolled {
    background-color: $blackColor;
    opacity: .8;

    .nav__caricature {
        margin: 0 2vw;
    }
}

.display {
    transform: scale(1) !important;
}