.projects {
  background-color: #555;
  background-image: url('./../img/background/projects.png');
  background-attachment: fixed;

  h2 {
    @extend %title;
    color: $bgColor;
  }

  &__large-project {
    position: relative;
    width: 90%;
    margin: 2vh 5%;
    text-align: center;
    transition-duration: .4s;

    &.fade {
      opacity: 0;
    }

    img {
      width: 80vmax;
      height: 40vmax;
      border-radius: 4px;
    }

    .change-time-info {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: -10%;
      color: $primaryColor;
      font-family: $supportFont;
      background-color: $blackColor;
      padding: 4vmax;
      border-radius: 50%;
      font-size: 150%;
      width: 5%;
      height: 5%;
      border: 2px solid $primaryColor;
    }

    .img-layer {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80vmax;
      height: 40vmax;
      background-color: $darkColor;
      transition-duration: .4s;
      color: $bgColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3vmin;
      text-align: center;
      text-align-last: center;

      .project-name {
        font-size: 250%;
        color: $bgColor;
        text-align: center;
        margin-bottom: 2rem;
      }

      span {
        width: 80%;
      }

      .project-btn {
        font-size: 100%;
        font-weight: bold;
        text-shadow: 0px 0px 50px $supportColor;
        margin-top: 5vh;
        font-family: $supportFont;
        background-color: transparent;
        color: $supportColor;
        border-radius: 4px;
        outline: 2px solid $supportColor;
        padding: 2vh;
        transition-duration: .4s;
        border: none;

        &:hover {
          cursor: pointer;
          outline-offset: 5px;

        }
      }
    }

    &:hover .img-layer {
      opacity: .7;
    }

  }

  &__carussel {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh;
    width: 100%;
    padding-bottom: 15%;

    .project-miniature {
      text-align: center;
      width: 25%;
      margin: 0 2%;

      img {
        width: 100%;
        height: 30vmin;
        transition-duration: .4s;
        outline: 2px solid transparent;
        outline-offset: 5px;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
          outline: 2px solid $primaryColor;
        }
      }

      &.active img {
        outline: 2px solid $primaryColor;
      }
    }

    .arrow-left {
      height: 50%;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 2%;
      z-index: 20;

      i {
        color: $bgColor;
        font-size: 10vmin;
      }
    }
  }
}

@media (orientation: portrait) {
  .projects {

    .change-time-info {
      padding: 4vmin;
    }

    &__large-project {
      img {
        width: 80vmin;
        height: 40vmin;
      }

      .img-layer {
        width: 80vmin;
        height: 40vmin;
      }
    }
  }
}

@media (min-width: 800px) {
  .projects {

    .change-time-info {
      font-size: 250%;
    }

  }
}

@media (min-width: 1024px) {
  .projects {

    .change-time-info {
      padding: 2vmax;
      right: 2%;
      top: -5%;
    }

  }
}