.project {
    background-color: $bgColor;
    background-image: url('./../img/background/about.webp');
    background-blend-mode: color-dodge;
    background-color: $blackColor;

    .back-to-main-page-button {
        position: fixed;
        font-size: 24px;
        top: 2vh;
        right: 2vh;
    }

    h2 {
        font-size: 10vmax;
        text-align: center;
        padding: 20px;
        font-family: $nonLatinFont;
        color: $primaryColor;
        text-shadow: 2px 2px 0 $blackColor,
            -2px 2px 0 $blackColor;
    }

    .image-stack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 50%;
        margin: 0 auto;

        img {
            width: 40%;
            // height: 90%;
            border-radius: 4px;
            box-shadow: .2vmin .2vmin .4vmin .4vmin $blackColor;
            margin: 2vmin;
        }


    }

    .tech-stack {

        &__header {
            font-family: $supportFont;
            font-size: 10vmin;
            color: darken($secondaryColor, 10%);
            text-align: center;
            margin: 4vmin 0;
        }

        &__items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
            margin-top: 2vmin;
            background-color: $blackColor;
            opacity: .9;
            border-radius: 5px;
            color: $bgColor;

            .tech-stack__item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 20vmin;
                height: 20vmin;
                margin: 5vmin;
                transform: rotate(5deg);

                h4 {
                    display: block;
                    font-size: 180%;
                    text-align: center;
                    margin-top: 2vmin;
                }

                img {

                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    padding: 10%;

                }

                &:nth-of-type(even) {
                    transform: rotate(-5deg);
                }
            }
        }
    }

    .content {
        width: 90%;
        margin: 0 auto;
        margin-top: 6vh;

        a {
            display: block;
            color: $primaryColor;
            text-decoration: none;
            transition-duration: .4s;
            text-shadow: 2px 2px 2px $blackColor,
                -2px 2px 1px $bgColor;
            font-weight: bold;
            line-height: 150%;
            margin-bottom: 2vmin;

            &:hover {
                color: $secondaryColor;
            }
        }

        ol {
            margin-left: 10vmin;
        }

        .content__item {
            margin: 4vh 0;

            h3 {
                font-family: $supportFont;
                font-size: 10vmin;
                color: darken($secondaryColor, 10%);
                text-align: center;
                margin: 4vmin 0;
            }

            p {
                font-size: 4vmin;
                text-align: justify;
                text-align-last: left;

                ul {
                    margin: 2% 0;

                    li {
                        display: flex;
                        line-height: 150%;

                        &::before {
                            content: '⚫';
                            margin-right: 2%;
                        }
                    }
                }

                li {
                    list-style-type: none;
                    line-height: 150%;

                    &::before {
                        content: '⚫';
                        margin-right: 2%;
                    }
                }
            }

            strong {
                color: $secondaryColor;
            }
        }
    }

    .authors {
        &__header {
            font-family: $supportFont;
            font-size: 10vmin;
            color: darken($secondaryColor, 10%);
            text-align: center;
            margin: 4vh 0;
        }

        ul {
            font-size: 6vmin;
            list-style: none;

            li {
                text-align: center;
                margin: 10px;

                a {
                    color: $primaryColor;
                    text-decoration: none;
                    transition-duration: .4s;
                    text-shadow: 2px 2px 2px $blackColor;

                    &:hover {
                        color: $secondaryColor;
                    }
                }


            }
        }
    }

    .links {
        height: 20vmax;
        margin: 5vmax 0;

        &__header {
            font-family: $supportFont;
            font-size: 10vmin;
            color: darken($secondaryColor, 10%);
            margin: 4vh 0;
            text-align: center;
        }

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2vmin 15%;
            line-height: 250%;
            width: 70%;

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $primaryColor;
                font-size: 6vmin;
                text-decoration: none;
                text-shadow: 2px 2px 2px $blackColor;
                transition-duration: .4s;

                i {
                    text-align: center;
                    font-size: 8vmin;
                    margin-right: 2vmin;
                }

                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}

@media (min-width: 700px) {
    .project .links .link {
        line-height: 500%;
    }
}

@media (min-width: 1024px) {
    .project {
        h2 {
            font-size: 10vmax;
            text-align: center;
            padding: 20px;
            font-family: $nonLatinFont;
            color: $primaryColor;
            text-shadow: 2px 2px 0 $blackColor,
                -2px 2px 0 $blackColor;
        }

        .desktop-layout {
            display: flex;

            .image-stack {
                margin: 0 5%;
                flex-direction: column;
                align-items: flex-start;
                width: 40%;

                img {
                    width: 100%;
                }

                .authors {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;

                    &__header {
                        font-size: 6vmin;
                    }

                    ul {
                        font-size: 5vmin;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;

                    &__header {
                        font-size: 6vmin;
                    }

                    .link {
                        a {
                            font-size: 4vmin;
                        }
                    }
                }
            }

            .desktop-content {
                width: 50%;

                .tech-stack {
                    &__header {
                        font-size: 5vmin;
                        margin: 0;
                    }

                    &__items {

                        .tech-stack__item {
                            width: 10vmin;
                            height: 10vmin;
                            transform: rotate(0deg);

                            h4 {
                                font-size: 280%;
                            }

                            &:nth-of-type(even) {
                                transform: rotate(0);
                            }
                        }
                    }
                }

                .content {
                    margin: 0 auto;

                    .content__item {

                        h3 {
                            font-size: 5vmin;
                        }

                        p {
                            font-size: 3vmin;
                        }
                    }
                }
            }
        }

        .space-cleaner {
            height: 20vh;
        }
    }
}