.project {
    background-color: $bgColor;
    background-image: url('./../img/background/about.webp');
    background-blend-mode: color-dodge;
    background-color: $blackColor;

    &[data-theme='Lambda'] {
        transition-duration: .4s;
        background-blend-mode: color-dodge;
        background-color: $blackColor;
    }

    &[data-theme='Abyss'] {
        transition-duration: .4s;
        background-blend-mode: color-dodge;
        background-color: transparent;
    }

    .projects-section-control {
        position: fixed;
        top: 0;
        padding: 2vmin;
        width: 30%;
        margin: 0 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $blackColor;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        opacity: .8;
        @include tooltip ($primaryColor, $darkColor, "bottom");

        &[data-theme='Abyss'] {
            background-color: $blackColorAbyss;
            @include tooltip($primaryColorAbyss, $darkColorAbyss, "bottom");
        }

        .caricature {
            width: 50px;
            height: 50px;
            transition-duration: .4s;
            z-index: 10;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }

        i {
            font-size: 7vmin;
            color: $primaryColor;
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                color: $primaryColorAbyss;
            }

            &:hover {
                color: $secondaryColor;

                &[data-theme='Abyss'] {
                    color: $secondaryColorAbyss;
                }
            }
        }
    }

    h2 {
        font-size: 10vmax;
        text-align: center;
        padding: 20px;
        font-family: $nonLatinFont;
        color: $primaryColor;
        text-shadow: 2px 2px 0 $blackColor,
            -2px 2px 0 $blackColor;

        &[data-theme='Abyss'] {
            color: $primaryColorAbyss;
        }
    }

    .image-stack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 50%;
        margin: 0 auto;

        img {
            width: 40%;
            border-radius: 4px;
            box-shadow: .2vmin .2vmin .4vmin .4vmin $blackColor;
            margin: 2vmin;
        }


    }

    .tech-stack {

        &__header {
            font-family: $supportFont;
            font-size: 10vmin;
            color: darken($secondaryColor, 10%);
            text-align: center;
            margin: 4vmin 0;

            &[data-theme='Abyss'] {
                color: darken($secondaryColorAbyss, 10%);
            }
        }

        &__items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
            margin-top: 2vmin;
            border-radius: 5px;

            .tech-stack__item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 15vmin;
                height: 15vmin;
                margin: 2vmin;

                h4 {
                    display: block;
                    font-size: 180%;
                    text-align: center;
                    margin-top: 2vmin;
                    color: $darkColor;

                    &[data-theme='Abyss'] {
                        color: $darkColorAbyss;
                    }
                }

                img {
                    background-color: $darkColor;
                    width: 80%;
                    border-radius: 25%;
                    padding: 10%;
                    aspect-ratio: 3/3;
                    object-fit: contain;

                    // mix-blend-mode: color-burn;
                    &[data-theme='Abyss'] {
                        background-color: $darkColorAbyss;
                    }
                }
            }
        }
    }

    .content {
        width: 90%;
        margin: 0 auto;
        margin-top: 6vh;

        a {
            display: block;
            color: $primaryColor;
            text-decoration: none;
            transition-duration: .4s;
            text-shadow: 2px 2px 2px $blackColor,
                -2px 2px 1px $bgColor;
            font-weight: bold;
            line-height: 150%;
            margin-bottom: 2vmin;

            &[data-theme='Abyss'] {
                color: $primaryColorAbyss;
                text-shadow: 2px 2px 2px $blackColorAbyss,
                    -2px 2px 1px $bgColorAbyss;
            }

            &:hover {
                color: $secondaryColor;

                &[data-theme='Abyss'] {
                    color: $secondaryColorAbyss;
                }
            }
        }

        ol {
            margin-left: 10vmin;
        }

        .content__item {
            margin: 4vh 0;

            h3 {
                font-family: $supportFont;
                font-size: 10vmin;
                color: darken($secondaryColor, 10%);
                text-align: center;
                margin: 4vmin 0;

                &[data-theme='Abyss'] {
                    color: darken($secondaryColorAbyss, 10%);
                }
            }

            p {
                font-size: 4vmin;
                text-align: justify;
                text-align-last: left;

                ul {
                    margin: 2% 0;

                    li {
                        display: flex;
                        line-height: 150%;

                        &::before {
                            content: '⚫';
                            margin-right: 2%;
                        }
                    }
                }

                li {
                    list-style-type: none;
                    line-height: 150%;

                    &::before {
                        content: '⚫';
                        margin-right: 2%;
                    }
                }
            }

            strong {
                color: $secondaryColor;

                &[data-theme='Abyss'] {
                    color: $secondaryColorAbyss;
                }
            }
        }
    }

    .authors {
        &__header {
            font-family: $supportFont;
            font-size: 10vmin;
            color: darken($secondaryColor, 10%);
            text-align: center;
            margin: 4vh 0;

            &[data-theme='Abyss'] {
                color: darken($secondaryColorAbyss, 10%);
            }
        }

        ul {
            font-size: 6vmin;
            list-style: none;

            li {
                text-align: center;
                margin: 10px;

                a {
                    color: $primaryColor;
                    text-decoration: none;
                    transition-duration: .4s;


                    &[data-theme='Abyss'] {
                        color: $primaryColorAbyss;
                        text-shadow: 2px 2px 2px $darkColorAbyss;
                    }

                    &:hover {
                        color: $secondaryColor;

                        &[data-theme='Abyss'] {
                            color: $secondaryColorAbyss;
                        }
                    }
                }


            }
        }
    }

    .links {
        height: 20vmax;
        margin: 5vmax 0;

        &__header {
            font-family: $supportFont;
            font-size: 10vmin;
            color: darken($secondaryColor, 10%);
            margin: 4vh 0;
            text-align: center;

            &[data-theme='Abyss'] {
                color: darken($secondaryColorAbyss, 10%);
            }
        }

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2vmin 15%;
            line-height: 250%;
            width: 70%;

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $primaryColor;
                font-size: 6vmin;
                text-decoration: none;
                text-shadow: 2px 2px 2px $blackColor;
                transition-duration: .4s;

                &[data-theme='Abyss'] {
                    color: $primaryColorAbyss;
                }

                i {
                    text-align: center;
                    font-size: 8vmin;
                    margin-right: 2vmin;
                }

                &:hover {
                    color: $secondaryColor;

                    &[data-theme='Abyss'] {
                        color: $secondaryColorAbyss;
                    }
                }
            }
        }
    }
}

@media (min-width: 700px) {
    .project .links .link {
        line-height: 500%;
    }
}

@media (min-width: 1024px) {
    .project {
        h2 {
            font-size: 10vmax;
            text-align: center;
            padding: 20px;
            font-family: $nonLatinFont;
            color: $primaryColor;
            text-shadow: 2px 2px 0 $blackColor,
                -2px 2px 0 $blackColor;
        }

        .desktop-layout {
            display: flex;

            .image-stack {
                margin: 0 5%;
                flex-direction: column;
                align-items: flex-start;
                width: 40%;

                img {
                    width: 100%;
                }

                .authors {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;

                    &__header {
                        font-size: 6vmin;
                    }

                    ul {
                        font-size: 5vmin;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;

                    &__header {
                        font-size: 6vmin;
                    }

                    .link {
                        a {
                            font-size: 4vmin;
                        }
                    }
                }
            }

            .desktop-content {
                width: 50%;

                .tech-stack {
                    &__header {
                        font-size: 5vmin;
                        margin: 0;
                    }

                    &__items {
                        .tech-stack__item {
                            width: 15vmin;
                            height: 15vmin;


                            h4 {
                                font-size: 280%;
                            }
                        }
                    }
                }

                .content {
                    margin: 0 auto;

                    .content__item {

                        h3 {
                            font-size: 5vmin;
                        }

                        p {
                            font-size: 3vmin;
                        }
                    }
                }
            }
        }

        .space-cleaner {
            height: 20vh;
        }
    }
}