// Fonts
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Rock+Salt&family=Viga&display=swap');

$mainFont: 'Viga', sans-serif;
$additionalFont: 'Palette Mosaic', cursive;
$decorativeFont: 'Rock Salt', cursive;

// Colors

$mainColor: #BF5B04;
$bgColor: #e4e4e4;
$secondaryColor: #403429;
$supportColor: #d1d1d1;
$overlayColor: #73635D;
$darkColor: #232323;

