@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Rock+Salt&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Lobster+Two:wght@400;700&family=Ropa+Sans&display=swap');

$primaryFont: 'Ropa Sans', sans-serif;
$nonLatinFont: 'Lobster Two', cursive;
$supportFont: 'Fuzzy Bubbles', cursive;
$titleFont: 'Rock Salt', cursive;


// $primaryColor: #BF5B04;
// $secondaryColor: #403429;
// $supportColor: #d1d1d1;
// $overlayColor: #73635D;
// $bgColor: #e4e4e4;
// $darkColor: #232323;


$primaryColor: #F2A71B;
$secondaryColor: #025E73;
$supportColor: #BFB78F;
$bgColor: #EDFFFF;
$darkColor: #011F26;
$blackColor: #191919;

$primaryColorAbyss: #DBF227;
$secondaryColorAbyss: #005C53;
// $supportColorAbyss: #A3AB78;
$supportColorAbyss: #D6D58E;
$bgColorAbyss: #506266;
$darkColorAbyss: #232930;
$blackColorAbyss: #1C1A21;