@import 'variables.scss';
@import 'mixins.scss';
@import 'placeholders.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'about.scss';
@import 'skillset.scss';
@import 'projects.scss';
@import 'footer.scss';
@import 'modal.scss';

:root {
    font-size: 10px;
    font-family: $primaryFont;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: $bgColor;
}

::selection {
    background-color: $primaryColor;
    color: $darkColor;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: $darkColor;

    &-thumb {
        background: $primaryColor;
        transition-duration: .4s;
        border-radius: 100vw;
        border: 3px solid $darkColor;
        transition-duration: .4s;

        &:hover {
            cursor: pointer;
            background: $secondaryColor;
        }
    }
}