@import 'variables.scss';
@import 'mixins.scss';
@import 'placeholders.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'about.scss';
@import 'skill-set.scss';
@import 'projects.scss';
@import 'footer.scss';
@import 'modal.scss';
@import 'single-project.scss';
@import 'loading.scss';

:root {
    font-size: 10px;
    font-family: $primaryFont;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: $bgColor;
}

::selection {
    background-color: $secondaryColorAbyss;
    color: $bgColor;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: $blackColor;

    &-thumb {
        background: lighten($blackColorAbyss, 15%);
        transition-duration: .4s;
        border-radius: 100vw;
        border: 3px solid $blackColor;
        transition-duration: .4s;

        &:hover {
            cursor: pointer;
            background: $supportColor;
        }
    }
}