.skill-set {
    min-height: 100vh;
    margin: 0 auto;
    background-image: url('./../img/background/skillset.png');
    background-attachment: fixed;
    box-shadow: 0 0 4px 2px $blackColor;

    &[data-theme='Lambda'] {
        transition-duration: .4s;
        background-blend-mode: difference;
        background-color: transparent;
    }

    &[data-theme='Abyss'] {
        transition-duration: .4s;
        background-blend-mode: difference;
        background-color: $blackColorAbyss;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $blackColor;
        opacity: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills-wrapper {
        // background-color: $supportColor;
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        @extend %title;
        // background-color: $supportColor;
    }

    .stack-item {
        position: relative;
        width: 100%;
        min-height: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $supportColor;
        padding-bottom: 8vw;
        transition-duration: .4s;

        &[data-theme='Abyss'] {
            background-color: $supportColorAbyss;
        }

        &--modal {
            width: 40vw !important;
            background-color: $supportColor;
            transform: scale(0);
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                background-color: $supportColorAbyss;
            }
        }

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid $darkColor;
            width: 40vw;
            height: 40vw;
            margin: 5vw auto;
            margin-top: -8vh;
            background-color: $primaryColor;
            box-shadow: 0 0 8px 4px $darkColor;
            margin-top: 2vw;
            padding: 5px;
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                background-color: $darkColorAbyss;
                box-shadow: 0 0 4px 2px $supportColorAbyss;
                border: 2px solid $supportColorAbyss;
            }
        }

        &__image {
            width: 70%;
            height: 70%;

            &--horizontal {
                width: 80%;
                height: 50%;
            }
        }

        &__title {
            text-align: center;
            font-size: 10vw;
            font-family: $nonLatinFont;
            font-weight: bold;
            display: block;
            color: $darkColor;
            margin: 2vw auto;
            width: 80%;
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                color: $darkColorAbyss;
            }
        }

        &__description {
            font-size: 6vw;
            text-align: justify;
            text-align-last: center;
            margin: 2vw 10vw;
            margin-bottom: 10vw;
            transition-duration: .4s;

            strong {
                color: $secondaryColorAbyss;
                transition-duration: .4s;

                &[data-theme='Abyss'] {
                    color: $darkColorAbyss;
                }
            }

            &[data-theme='Abyss'] {
                color: $darkColorAbyss;
            }
        }

        &__expand {
            position: absolute;
            left: 2vw;
            right: 2vw;
            bottom: 1vw;
            display: none;
            margin: 1vw auto;
            font-family: $titleFont;
            font-size: .7vw;
            color: $darkColor;
            font-weight: bold;
            width: 60%;
            background-color: transparent;
            border: none;
            padding: .2vw;
            box-shadow: 5px 5px 0 0 $darkColor,
                -5px -5px 0 0 $darkColor;
            text-align: center;
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                color: $darkColorAbyss;
                box-shadow: 5px 5px 0 0 $darkColorAbyss,
                    -5px -5px 0 0 $darkColorAbyss;
            }

            span.invisible {
                display: none;
            }

            span.visible {
                display: block;
            }

            &:hover {
                cursor: pointer;
                background-color: $darkColor;
                box-shadow: -10px -10px 0 0 $darkColor,
                    10px 10px 0 0 $darkColor;
                border: 5px solid $supportColor;
                transition-duration: .4s;

                &[data-theme='Abyss'] {
                    background-color: $darkColorAbyss;
                    box-shadow: -10px -10px 0 0 $darkColorAbyss,
                        10px 10px 0 0 $darkColorAbyss;
                    border: 5px solid $supportColorAbyss;
                }

                & span.invisible {
                    display: block;
                    color: $supportColor;
                }

                & span.visible {
                    display: none;
                }
            }
        }
    }
}


@media (min-width: 600px) {
    .skill-set {
        .stack-item {
            justify-content: flex-start;
            width: 50%;

            &__description {
                font-size: 3vw;
            }

            .image {
                width: 20vw;
                height: 20vw;
            }

            &__description {
                padding: 0;
                margin: 0 2vw;
                padding: 0 2vw;
            }
        }
    }
}

@media (min-width: 800px) {
    .skill-set {
        .stack-item {

            &__description {
                font-size: 4vw;
            }

        }
    }
}

@media screen and (min-width: 1024px) {
    .skill-set {
        transition-duration: .4s;

        h2 {
            background-color: transparent;
        }

        .skills-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 20px;
        }

        .stack-item {
            width: 400px;
            border-radius: 4px;
            box-shadow: 8px 8px 24px 0px $darkColor;
            transition-duration: .4s;

            &[data-theme='Abyss'] {
                box-shadow: 8px 8px 24px 0px $darkColorAbyss;
            }

            height: 60vh;
            margin: 5vh 20px;

            &__description {
                font-size: 3vw;
            }

            .image {
                width: 80px;
                min-height: 80px;
                max-height: 80px;
                margin: 0 auto;
                margin-top: -2vw;
            }



            &__title {
                font-size: 2vw;
                margin: 1vw auto;
            }

            &__description {
                font-size: 2rem;
                padding: 0;
                margin: 0 2vw;
                padding: 0 2vw;
            }

            &__expand {
                display: block;
            }

            &--expanded {
                position: fixed;
                top: 15vh;
                left: 0;
                right: 0;
                margin: auto;
                width: 40vw;
                height: 80vh;
                z-index: 22;
                transform: translateZ(4200px);
                box-shadow: 0 0 10px 100vh rgba(0, 0, 0, 0.8),
                    8px 8px 24px 0px $darkColor;
            }
        }
    }
}